/*
#F2380F rosa
#2458BF azul
#8C031C vermelho
#08A64D verde
#F2380F laranja
*/
:root{
    --cor0:#1d1d1d;
    --cor1:#F25CCA;
    --cor2:#2458BF;
    --corv2:#00359e;
    --cor3:#8C031C;
    --cor4:#08A64D;
    --cor5:#F2380F;
}